/* variables!! */
:root {
  --suntory-primary: #5ac5d8;
  --ion-color-primary: var(--suntory-primary);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.input {
  border: solid black 1px;
  width: 300px;
  height: 35px;
  display: block;
  margin-top: 5px;
  border-radius: 0;
  box-shadow: none;
  height: 40px;
  font-weight: 600;
  padding: 20px 11px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  -webkit-appearance: none;
}

.input:focus {
  border: solid rgb(58, 116, 232) 2px;
  outline: 0;
}

.label {
  font-weight: 600;
}

/* .ion-page {
  background-color: rgb(245, 245, 245);
}

ion-list {
  --ion-background-color: transparent;
} */

form ion-item {
  background-color: white;
  margin-top: 10px;
  --padding-start: 0;
  --inner-padding-end: 0;
}

.components-container {
  display: block !important;
  width: 650px;
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 600px) {
  .\@large\:margin-left {
    margin-left: 60px;
  }
}

ion-anchor {
  text-decoration: underline;
}

/* utilities */

.mt10 {
  margin-top: 10px;
}

.pb7 {
  padding-bottom: 7px;
}

.max500 {
  max-width: 500px;
}

.border-bottom {
  border-bottom: solid 3px currentColor;
}

.\@small:hide {
  display: none;
}
