body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.input {
  border: solid black 2px;
  width: 300px;
  height: 35px;
  display: block;
  margin-top: 5px;
}

.input:focus {
  border: solid rgb(58, 116, 232) 2px;
  outline: 0;
}

.label {
  font-weight: 600;
}

.components-container {
  display: block !important;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

ion-anchor {
  text-decoration: underline;
}

/* utilities */

.mt10 {
  margin-top: 10px;
}

.max500 {
  max-width: 500px;
}
